<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p>Введите наименование чата и имя :</p>
<table>
    <tr><td>Наименование чата</td>
        <td><input type="text" id="chat" /></td></tr>
    <tr><td>Имя пользователя</td>
        <td><input type="text" id="user" /></td></tr>
    <tr><td><input type="button" id="btnConnect"
                   value="Подключение" /></td>
        <td><input type="button" id="btnDisconnect"
                   value="Отключение" /></td></tr>
</table>

</body>
</html>